
/* Variables des codes couleur demandés  */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;


/* Font et marge pour le body de toutes les pages */
/* Gestion du scrolling en mode doux */
body, html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }



  /* Mixin pour les boutons du site */
  @mixin button($type) {
    border: 0;
    padding: 1rem 2.8rem;
    font-weight: 500;
    font-size: 16px;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  
    &:hover {
      background-color: white;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
  /* Positions et tailles des blocs container pour chaque section */
  .container {
    max-width: 1280px;
    margin: auto;
    padding-bottom: 2rem;
    position: relative;
  }
  
  /* HEADER */
  .header {
    padding: 1rem $appPadding;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
    
    /* Affichage logo */
    &__logo {
      font-family: 'Shrikhand', cursive;
      margin: 0;
      text-align: center;
    }
  }
  
  /* FOOTER */
  .footer {
    background-color: #353535;
    
    /* Bloc contenu du Footer */
    .container {
      display: flex;
      flex-direction: column;
      padding: $appPadding;
    }
    
    /* Logo dans le footer */
    &__logo {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      font-size: 1.2rem;
      margin-bottom: $appPadding;
    }
    
    /* Liste de liens dans le footer */
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    /* Affichage d'une ligne <li */
    &__listElt {
      margin: 0.5rem 0;
      
      /* marge en haut pour le premier item de la liste */
      &:first-child {
        margin-top: 0;
      }
      
      /* Marge en bas pour le dernier item de la liste */
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    /* Affichage d'un lien dans la liste */
    &__link {
      color: white;
      text-decoration: none;
      
      /* sous ligné le lien au survol */
      &:hover {
        text-decoration: underline;
      }
    }
    
    /* Affichage Icones de la liste du footer */
    &__icon {
      width: 1.2rem;
      margin-right: 0.5rem;
    }
  }

  