/* Bloc Chargement du retour page d'accueil */
/* Le bloc est affiché à peine 2 secondes au chargement de la page */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;
/* Items billes de couleurs */
  &__item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &--1 {
      background-color: $color-primary;
    }
  
    &--2 {
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }
  
    &--3 {
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }

  
}

/* Section localisation */
.local {
    display: flex;
    justify-content: center;
    padding: 1.25rem $appPadding;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;
  
    &__icon {
      margin-right: 1rem;
    }
  
    &__text {
      font-weight: 700;
    }
  }
  
  /* Section Présentation */
  .present {
    padding: 2rem 2rem 4.6rem 2rem;
    text-align: center;
    background-color: rgb(249, 244, 244);
  
    &__title {
      margin: 0;
    }
  
    &__subtitle {
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      font-family: "Roboto", thin;
    }
  
    &__btn {
      @include button(primary);
      margin-top: 1rem;
    }
  }
  
/* Section Fonctionnement du site  */
  .tuto {
    padding: ( $appPadding + 1rem ) $appPadding;
  
    &__title {
      margin-top: 0;
    }
  
    &__steps {
      margin: 0;
      padding: 0;
      list-style: none;
      counter-reset: compteListe;

      /* Afficahge flexbox en résolution 1024px */
      @media (min-width:64rem) {
        display: flex;
      }
    }
  
    &__step {
      padding: 1.5rem;
      margin: 1rem 0.2rem 1.2rem 0.85rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
      border-radius: 1.25rem;
      background-color: #f6f6f6;
      display: flex;
      position: relative;

      .text {
        text-align: center;
      }
      
      /* Affichage en résolution 1024px */
      @media (min-width:64rem) {
        flex: 1;
        margin: 0;
        margin-left: 2rem;
        
        &:first-child {
          margin-left: 0.75rem;
        }
      }
      /* Pas de marge en haut pour le premier enfant de la liste ol*/
      &:first-child {
        margin-top: 0;
      }
      /* Pas de marge en bas pour le dernier enfant de la liste ol */
      &:last-child {
        margin-bottom: 0;
        background-color:#efe9f9;
      }
      /* Affichage liste a puces numérique avec incrémentation du compteur */
      &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: $color-primary;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: -0.75rem;
      }
      
    }
  
    &__icon {
      margin-right: 1.5rem;
      margin-left: 0.5rem;
      margin-top: 0.1rem;
      color: #7e7e7e;
    }
    &__icon2 {
      margin-right: 1.5rem;
      margin-left: 0.5rem;
      margin-top: 0.1rem;
      color: #9356DC;
    }
  }
  
  
  /* Section Carte des Restaurants */
  .restaurants {
    background-color: #f9f4f4;
    padding: ($appPadding + 1rem) $appPadding;
  }
  
  /* Bloc des cartes des restaurants */
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 1.3rem;
  
    @media (min-width:64rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Bloc d'une carte d'un restaurant */
  .card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  
    &__img {
      height: 12rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }
  
    &__badge {
      background-color: $color-tertiary;
      color: darken($color-tertiary, 50%);
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
  
    &__footer {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
  
    &__content {
      flex: 1;
    }
  
    &__title {
      margin: 0;
      margin-bottom: 0.25rem;
    }
  
    &__subtitle {
      margin: 0;
      font-family: "Roboto", thin;
    }
  
    &__btn {
      height: 2rem;
      width: 2rem;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  
    &__like {
      background-color: white;
    }
  }